@import "tailwindcss";


/* Print ke time hide */
@media print {
  .no-print {
    display: none !important;
  }
}

/* html2pdf ke liye ignore */
.no-print {
  display: none !important;
}


/* Hide scrollbar but keep scroll functionality */
.no-scrollbar::-webkit-scrollbar { display: none; }
.no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }

/* Custom Scrollbar */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px; /* width of the scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1; /* track color */
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #9ca3af; /* scrollbar thumb color (gray-400) */
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #4b5563; /* hover color (gray-600) */
}

.hide-scrollbar {
  overflow: auto;            /* scroll enable */
  -ms-overflow-style: none;  /* IE, Edge */
  scrollbar-width: none;     /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;             /* Chrome, Safari */
}
